body{
    background-color: #142448;
    margin: 0;
    padding: 0;
}

.container{
    
    height: 400px;
    width: 350px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bat{
    background-color: #FEC25F;
    height: 120px;
    width: 160px;
    border-radius: 50%;
    position: relative;
    top: 170px;
    left: 80px;
    animation: play 2s infinite;
    transform-origin: right;
}
@keyframes play{
    50%{
        transform: rotate(-30deg);
    }

}

.handle{
    height: 20px;
    width: 0;
    border-left: 120px solid #FEC25F;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: relative;
    top: 100px;
    left: 70px;
    transform: rotateY(180deg) rotate(-55deg);
}

.inner{
    height: 13px;
    width: 0;
    border-left: 120px solid #f2ca89;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    position: relative;
    right: 115px;
    bottom: 14px;
}

.front{
    background-color: #E3002B;
    height: 112px;
    width: 160px;
    border-radius: 50%;
    position: relative;
    bottom: 50px
}

.ball{
    background-color: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: relative;
    bottom: 115px;
    left: 150px;
    animation:bounce 2s infinite;
}

@keyframes bounce{
    50%{
        transform: translateY(230px);
    }
}